[Unit]
Description=GELF logging gateway-source for Journald.

[Service]
EnvironmentFile=/etc/journal-gateway-gelf-source.conf
ExecStart=/usr/bin/journal-gateway-gelf-source
ExecStop=/bin/kill -s SIGTERM $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
