[Unit]
Description=ZeroMQ logging gateway-sink for Journald.

[Service]
EnvironmentFile=/etc/journal-gateway-zmtp-sink.conf
ExecStart=/usr/bin/journal-gateway-zmtp-sink --listen --socket $EXPOSED_SOCKET
ExecStop=/bin/kill -s sigint $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target