[Unit]
Description=GELF logging gateway for Journald.

[Service]
EnvironmentFile=/etc/journal-gateway-gelf.conf
ExecStart=/usr/bin/journal-gateway-gelf
ExecStop=/bin/kill -s SIGTERM $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
