[Unit]
Description=A ZeroMQ logging gateway for Journald. This Service represents the sink.

[Service]
EnvironmentFile=/etc/zmq-journal-gatewayd-sink.conf
ExecStart=/usr/bin/zmq-journal-gatewayd-sink --listen --socket $EXPOSED_SOCKET
ExecStop=/bin/kill -s sigint $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target