[Unit]
Description=A ZeroMQ logging gateway for Journald.

[Service]
Environment="GATEWAY_OPTS=--socket tcp://*:5555"
EnvironmentFile=~/conf/zmq_gateway.conf
ExecStart=/usr/bin/zmq-journal-gatewayd $GATEWAY_OPTS
ExecStop=/bin/kill -s sigint $MAINPID
Restart=on-failure


[Install]
WantedBy=multi-user.target