[Unit]
Description=A ZeroMQ logging gateway for Journald.

[Service]
EnvironmentFile=~/conf/zmq_gateway.conf
ExecStart=env TARGET_ADDR=$GATEWAY_TARGET /usr/bin/zmq-journal-gatewayd
ExecStop=/bin/kill -s sigint $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target